<html>
    <head>
        <title>shopDetail</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&amp;display=swap'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <style>
            .fish{
                width: 50px;
                margin: -10px;
            }
            .star-rating {
            border:solid 1px #ccc;
            display:flex;
            flex-direction: row-reverse;
            font-size:1.5em;
            justify-content:space-around;
            padding:0 .2em;
            text-align:center;
            width:5em;
            }

            .star-rating input {
            display:none;
            }

            .star-rating label {
            color:#ccc;
            cursor:pointer;
            }

            .star-rating :checked ~ label {
            color:#f90;
            }

            .star-rating label:hover,
            .star-rating label:hover ~ label {
            color:#fc0;
            }
            .regiSTar {
                display: none;
            }
            .displayShow {
                display: show;
            }
            .displayHidden {
                display: hidden;
            }
        </style>
    </head>
    <body>
        <div class="scene flex">
            <div class="card" style="width: 18rem;">
                <img src="./img/IMG_0652.PNG" class="card-img-top" alt="..."><!-- 아이콘 부분 -->
                <div class="card-body">
                <h5 class="card-title"><%=data.shopName%></h5>
                <p class="card-text"><%=data.shopAddress%></p>
            </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item"><img src="./img/IMG_0652.PNG" class="fish" alt="...">평점<%=data.reviewStar%></li>
                <li class="list-group-item"><img src="./img/IMG_0652.PNG" class="fish" alt="...">메뉴
                    <ol>팥•••<%=data.priceRed%></ol>
                    <ol>슈크림•••<%=data.priceCream%></ol>
                </li>
                <li class="list-group-item"><img src="./img/IMG_0652.PNG" class="fish" alt="...">이용시간
                    <ol>Open: <%=data.openTime%></ol>
                    <ol>Close: <%=data.closeTime%></ol>
                </li>
                </ul>
                <div class="card-body">
                    <button type="button" class="btn btn-warning" onclick="regiStar();">별점 남기기</button>
                    <button href="/shop/register" type="button" class="btn btn-warning">가게 수정하기</button>
                </div>
        </div>
        <div class="card text-dark bg-light mb-3 regiSTar" style="max-width: 18rem;" id="regiStar">
            <div class="card-header"><img src="./img/IMG_0652.PNG" class="fish" alt="...">별점 남기기</div>
                <div class="card-body">
                    <div class="star-rating">
                        <input type="radio" id="5-stars" name="rating" value="5" />
                        <label for="5-stars" class="star">&#9733;</label>
                        <input type="radio" id="4-stars" name="rating" value="4" />
                        <label for="4-stars" class="star">&#9733;</label>
                        <input type="radio" id="3-stars" name="rating" value="3" />
                        <label for="3-stars" class="star">&#9733;</label>
                        <input type="radio" id="2-stars" name="rating" value="2" />
                        <label for="2-stars" class="star">&#9733;</label>
                        <input type="radio" id="1-star" name="rating" value="1" />
                        <label for="1-star" class="star">&#9733;</label>
                    </div>  
                </div>
            </div>
        </div>    
        <script>
            function regiSTar() {
                let regiStar = document.getElementById("regiStar");
                regiSTar.className = 'displayShow';
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </body>
</html>